DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL_REDIRECT=False

POSTGRES_DB=gamecatalog
POSTGRES_USER=gamecatalog
POSTGRES_PASSWORD=gamecatalog
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
